/* RESET SOME DESIGNS */


input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.subscribe input {
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid #c87065;
    margin: 0;
    position: relative;
    top: -4px;
    width: 70%;
}

/* Custom design */
.nav-tabs>li {
    width: 25%;
}

fieldset
{
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}

legend
{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
}

.btn-round-xs{
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
.article-segment {
    padding: 10px;
    margin: 5px 0;
    border-left: 3px solid #C8A165;
    border-right: 3px solid #C8A165;
    border-radius: 10px;
}



